.background{
    background-image: url("../../images/rrere.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    height: 52rem;
}
.background2{
    background-image: url("../../images/rrere.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
    
}

.btn{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    background: #003566;
    text-align: center;
    text-transform: uppercase;
    color: #d9d9d9;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 710px;
    margin-top: 8px;
    border: none;
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}

.container{
    background-image: url("../../images/rrere.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 130vw;
    height: 130vh; */
    min-width: 70rem;
    min-height: 70rem;
    /* max-width: 300vw;
    max-height: 300vh; */
    
}

.btn:hover {
    color: #d9d9d9;
    background-color: #457b9d;

}

@media screen and (max-width: 1500px) {
    .background2{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        display: flex;
        min-width: 810px;
        align-items: center;
        
    }
    
    .btn{
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: bold;
        background: #003566;
        text-align: center;
        text-transform: uppercase;
        color: #d9d9d9;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 38rem;
        margin-top: 8px;
        border: none;
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .container{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 70rem;
        min-height: 70rem;
        
    }
} 


@media screen and (max-width: 1080px) {
    .background2{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        display: flex;
        min-width: 810px;
        align-items: center;
        
    }
    
    .btn{
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: bold;
        background: #003566;
        text-align: center;
        text-transform: uppercase;
        color: #d9d9d9;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 290px;
        margin-top: 8px;
        border: none;
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .container{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 60rem;
        min-height: 60rem;
        
    }
}


@media screen and (max-width: 400px) {
    .background2{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        display: flex;
        min-width: 810px;
        align-items: center;
        
    }
    
    .btn{
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: bold;
        background: #003566;
        text-align: center;
        text-transform: uppercase;
        color: #d9d9d9;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 23rem;
        margin-top: 8px;
        border: none;
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .container{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 120rem;
        min-height: 110rem;
    }

    .background{
        background-image: url("../../images/rrere.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        align-items: center;
        width: 100rem;
        height: 220rem;
    }
}





